@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-indent {
  text-indent: 2rem;
}

::selection {
  color: white; 
  background-color: rgba(0,0,0,0.99);
}

.-mt-5 {
  margin-top: -.05rem;
}